In [ ]:
#Declare a float value and store it in a variable. 

a=12.25




#Check the type and print the id of the same.

print(type(a))
print(id(a))

<class 'float'>
139949201278056

In [ ]:
#Arithmatic Operations on float
#Take two different float values.
#Store them in two different variables.

float_val1 = 9.5
float_val2 = 10.2




#Do below operations on them:-
    #Find sum of both numbers

print(float_val1 + float_val2)

    #Find differce between them

print(float_val1 - float_val2)


    #Find the product of both numbers.

print(float_val1 * float_val2)

    #Find value after dividing first num with second number

print(float_val1 / float_val2)

    #Find the remainder after dividing first number with second number

print(float_val1 % float_val2)

    #Find the quotient after dividing first number with second number

print(float_val1 // float_val2)

    #Find the result of first num to the power of second number.

print(float_val1 ** float_val2)

19.7
-0.6999999999999993
96.89999999999999
0.9313725490196079
9.5
0.0
9392490704.940994

In [ ]:
#Comparison Operators on float
#Take two different float values.
#Store them in two different variables.

value1=50.45
value2=40.8


#Do below operations on them:-
    #Compare these two numbers with below operator:-
        #Greater than, '>'

print(value1 > value2)

        #Smaller than, '<'

print(value1 < value2)

        #Greater than or equal to, '>='

print(value1 >= value2)

        #Less than or equal to, '<='

print(value1 <= value2)

#Observe their output(return type should be boolean)

True
False
True
False

In [ ]:
#Equality Operator
#Take two different float values.
#Store them in two different variables.

val_1 = 6.7
val_2 = 6.5

#Equuate them using equality operator (==, !=)

print(val_1 == val_2)
print(val_1 != val_2)

#Observe the output(return type should be boolean)

False
True

In [ ]:
#Logical operators
#Observe the output of below code
#Cross check the output manually

""" search for false if both value true then output will be 2nd"""

print(10.20 and 20.30)       #both are true and second value taken >Output is 20.3
print(0.0 and 20.30)         #First is false so first value taken->Output is 0.0
print(20.30 and 0.0)         #Goes to till second and second value is false so second is taken>Output is 0.0
print(0.0 and 0.0)           #First is false so first value is taken->Output is 0.0


"""search for true if both  value is false then output will be first 2nd"""

print(10.20 or 20.30)        #First is True so first value is taken>Output is 10.2
print(0.0 or 20.30)          #Goes to till second and second is true second value is taken->Output is 20.3
print(20.30 or 0.0)          #First is True so first value is taken->Output is 20.3
print(0.0 or 0.0)            #Goes to till second and secod is also false and second value is taken>Output is 0.0

print(not 10.20)             #-Not of true is false->Output is False
print(not 0.0)               #Not of false is True>Output is True

In [3]:
#What is the output of expression inside print statement. Cross check before running the program.
a = 10.20
b = 10.20
print(a is b)          #True or False? 
'''False  id is not same for same float no assigned to different variables'''
print(a is not b)      #True or False? 
'''True   id is not same of both variables'''


# Why the Id of float values are different when the same value is assigned to two different variables
"""Object reusability doesn't work for float values.It only works incase of integers (-5-256),
   string (A-Z,a-z,0-9),Boolean and None"""

# ex: a = 10.5 b=10.5. but id will be same if I assign the variable having float i.e. a=c then both a anc c's
# Id are same
"""bcz two variables refers to the same object through a process called "Aliasing".Both a and b refers to the same object"""

False
True

'bcz two variables refers to the same object through a process called "Aliasing".Both a and b refers to the same object'

In [ ]:
#Bitwise operation is not applicable between instances of float.
 #True

## Why the Id of float values are different when the same value is assigned to two different variables
## ex: a = 10.5 b=10.5. but id will be same if I assign the variable having float i.e. a=c then both a anc c's
## Id are same
#Object reusability concept is not applicable on float values.
""" Yes bcz float is immutable object and object reusability works only for mutable object.there are some exceptions in/
immutable objects- string(A-z,a-z,0-9),integer (-5 to 256)"""

In [1]:
#Membership operation
#in, not in are two membership operators and it returns boolean value

print('2.7' in 'Python2.7.8')              #True bcz 2.7 is in string given
print(10.20 in [10,10.20,10+20j,'Python']) #True bcz 10.20 coming in list
print(10.20 in (10,10.20,10+20j,'Python')) # True bcz 10.20 coming in tuple
print(20.30 in {1,20.30,30+40j})           # True bcz 20.30 is in set
print(2.3 in {1:100, 2.3:200, 30+40j:300}) # True bcz 2.3 is a key of dictionary
print(10 in range(20))                     # True bcz 10 is in range of (0:20)

True
True
True
True
True
True