In [ ]:
#Declare an int value and store it in a variable. 

int_val = 10


#Check the type and print the id of the same.

print(type(int_val))              
print(id(int_val))

In [ ]:
#Take one int value between 0 - 256.
#Assign it to two different variables.
#Check the id of both the variables. It should come same. Check why?

val_1=200
val_2=200

print(id(val_1))
print(id(val_2))

#Answer --> One object with multipe reference if lies between Integers -5 to 256
#           then id of that object will be same for all reference. 









#Take one int value either less than -5 or greater than 256.
#Assign it to two different variables.
#Check the id of both the variables. It should come different.Check why?

val_3 = 350
val_4 = 350

print(id(val_3))
print(id(val_4))

#Answer --> Object doesn't come in range between -5 to 256

10920864
10920864
139979200699952
139979200699792

In [ ]:
#Arithmatic Operations on integers
#Take two different intger values.
#Store them in two different variables.
#Do below operations on them:-
    #Find sum of both numbers
    #Find differce between them
    #Find the product of both numbers.
    #Find value after dividing first num with second number
    #Find the remainder after dividing first number with second number
    #Find the quotient after dividing first number with second number
    #Find the result of first num to the power of second number.


int_1 = 20
int_2 = 10
add = int_1 + int_2
diff = int_1 - int_2
prod = int_1 * int_2
div = int_1 / int_2   
rem = int_1 % int_2
quot = int_1 // int_2
pow = int_1 ** int_2 
print("Sum: ", add)
print("Difference: ", diff)
print("Product: ", prod)
print("Divide: ", div)
print("Remainder: ", rem)
print("Quotient: ", quot)
print("Power: ", pow)

Sum:  30
Difference:  10
Product:  200
Divide:  2.0
Remainder:  0
Quotient:  2
Power:  10240000000000

In [ ]:
#Comparison Operators on integers
#Take two different intger values.
#Store them in two different variables.
#Do below operations on them:-
    #Compare se two numbers with below operator:-
        #Greater than, '>'
        #Smaller than, '<'
        #Greater than or equal to, '>='
        #Less than or equal to, '<='
#Observe their output(return type should be boolean)


a=10
b=9
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

True
False
True
False

In [ ]:
#Equality Operator
#Take two different intger values.
#Store them in two different variables.
#Equuate them using equality operator (==, !=)
#Observe the output(return type should be boolean)

c=20
d=25
print(c==d)
print(c!=d)

False
True

In [ ]:
#Logical operators
#Observe the output of below code
#Cross check the output manually

"""Search for false if both are true then output will be second in case of AND."""
print(10 and 20)       #True and True = 2nd true -------> Output is 20
print(0 and 20)        #False and True =1st one -------->Output is 0
print(20 and 0)        #True and False = 2nd one ------->Output is 0
print(0 and 0)         #False and False = 1st False --------->Output is 0

"""Search for true if both are false then output will be last false incase of OR"""
print(10 or 20)        #True or True = 1st True -------->Output is 10
print(0 or 20)         #False or True = 2nd one --------->Output is 20
print(20 or 0)         #True or False = 1st one ---------->Output is 20
print(0 or 0)          #False or False = last False ------->Output is 0

print(not 10)          #not true = False ------------>Output is False
print(not 0)           #not False = True --------->Output is True

20
0
0
0
10
20
20
0
False
True

In [ ]:
#Bitwise Operators
#Do below operations on the values provided below:-
    #Bitwise and(&) -----------------------------------------> 10, 20   -------> Output is 0
    #Bitwise or(|)  -----------------------------------------> 10, 20   -------> Output is 30
    #Bitwise(^)     -----------------------------------------> 10, 20   -------> Output is 30
    #Bitwise negation(~) ------------------------------------> 10       -------> Output is -11
    #Bitwise left shift  ------------------------------------> 10,2     -------> Output is 40
    #Bitwise right shift ------------------------------------> 10,2     -------> Output is 2
#Cross check the output manually

#print(bin(10))         01010
#print(bin(20))         10100
#   AND                 00000
#   OR                  11110
#   ^                   11110
#   ~                  -(01011)
# 10<<2                00000000000000000000000000101000
# 10>>2                00000000000000000000000000000010
print(0b00000)
print(0b11110)
print(0b11110)
print(-0b01011)
print(0b101000)
print(0b00000000000000000000000000000010)

0
30
30
-11
40
2

In [ ]:
#What is the output of expression inside print statement. Cross check before running the program.
a = 10
b = 10
print(a is b)          #True bcz id is same         True or False?
print(a is not b)      #False bcz same id           True or False?

a = 1000
b = 1000
print(a is b)          #False bcz object reusability range is (-5 to 256)      True or False?
print(a is not b)      #False bcz not comes in object reusability range        True or False?

True
False
False
True

In [ ]:
#What is the output of expression inside print statement. Cross check before running the program.
print(10+(10*32)//2**5&20+(~(-10))<<2)

20

In [ ]:
#print(2**5)=32
#print(~(-10)<<2)=36
#print(32&56)=32
#print(bin(32))     100000
#print(bin(56))     111000
#      &            100000
#print(10+320//32)   =20

0b100000

In [ ]:
#Membership operation
#in, not in are two membership operators and it returns boolean value

print('2' in 'Python2.7.8')               # True 2 in string
print(10 in [10,10.20,10+20j,'Python'])   # True 10 in list
print(10 in (10,10.20,10+20j,'Python'))   # True 10 in tuple
print(2 in {1,2,3})                       # True 2 in set
print(3 in {1:100, 2:200, 3:300})         # True 3 is a key in dictionary
print(10 in range(20))                    # True 10 comes in range 0 to 20

True
True
True
True
True
True

In [6]:
#An integer can be represented in binary, octal or hexadecimal form.
#Declare one binary, one octal and one hexadecimal value and store them in three different variables.
#Convert 9876 to its binary, octal and hexadecimal equivalent and print their corresponding value.

a=28
print(bin(28))
bin_val=0b11100

print(oct(28))
oct_val=0o34

print(hex(28))
hex_val=0x1c


b=9876
print(bin(a))
print(oct(a))
print(hex(a))

0b11100
0o34
0x1c
0b11100
0o34
0x1c

In [9]:
#What will be the outut of following:-
a = 0b1010000
print(a)             #integer value of a

b = 0o7436
print(b)              # integer value of b

c = 0xfade
print(c)              #integer value of c

print(bin(80))          #binary value of 80

print(oct(3870))         # octal value of 3870

print(hex(64222))        # Hexadecimal value of 64222

print(bin(0b1010000))     # binary balue of binary no

print(bin(0xfade))         #binary value of hexadecimal no

print(oct(0xfade))         #octal value of hexadecimal no

print(oct(0o7436))       #octal value of octal no

print(hex(0b1010000))       #hexadecimal value of binary no

print(hex(0xfade))          #Hexadecimal value of hexadecimal no

80
3870
64222
0b1010000
0o7436
0xfade
0b1010000
0b1111101011011110
0o175336
0o7436
0x50
0xfade